@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #263238;
}

#app {
	max-width: 1440px;
	height: 100vh;
	margin: auto;
	border: 1px solid black;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: auto;
	width: 50%;
	font-weight: 500;
	font-size: 1.3em;
	border: 1px solid black;
}

router-link:hover {
	color: #8D6E63;
	cursor: pointer;
}